@model BSUIREntrantsWebSite.Models.Enrollee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
